@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4dxb5k');
  src:  url('fonts/icomoon.eot?4dxb5k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4dxb5k') format('truetype'),
    url('fonts/icomoon.woff?4dxb5k') format('woff'),
    url('fonts/icomoon.svg?4dxb5k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-favorite:before {
  content: "\e903";
}
.icon-left:before {
  content: "\e904";
}
.icon-remove:before {
  content: "\e905";
}
.icon-right:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e907";
}
.icon-down:before {
  content: "\e908";
}
.icon-up:before {
  content: "\e909";
}
